/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Variables */
:root{
  --header-height: 3rem;
  --nav-width: 324px;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* --first-color: #E4FDFC;
  --first-color-dark: #0ca6a0;
  --first-color-darken: #054745;
  --text-color: #54423D;
  --first-color-light: #EAE7E6;
  --first-color-lighten: #FFFAFA; */



  --white:#FFFFFF;
  --bg:#1C1C27;
  --bgLight: #1C1E27;
  --primary:#854CE6;
  --text_primary:#F2F3F4;
  --text_secondary:#b1b2b3;
  --card:#171721;
  --card_light: #191924;
  --button:#854CE6;
  
  --black:#000000;



  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.9rem;
  --small-font-size: 0.8rem;
  --smaller-font-size: 0.75rem;


  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  --z-fixed: 100;

}

html{
  scroll-behavior: smooth;
}

/* INITIAL SETUP */

@media screen and (min-width: 768px) {
  :root{
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.8rem;
  }
}

*,::before,::after{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--bg);
  color: var(--white);
  line-height: 1.6;
}

h1,h2,h3,p {
  margin: 0;
}

h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--button);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 4rem 0  2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--button);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--button);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}

/* HEADER */

.bd-grid {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--bg);
  box-shadow: 0 2px 4px rgb(255, 255, 255);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
  transition: 0.5s;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--black);
  cursor: pointer;
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--black);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--button);
}

.nav__toggle {
  color: var(--button);
  font-size: 1.3rem;
  cursor: pointer;
}

/* SHOW MENU */
.show {
  left: 0;
}

/* Active Menu */
.active {
  color: var(--button);
}


/* HOME */

.home__container {
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home__img {
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  width: 160px;
  height: 160px;
  background-color: var(--text_secondary);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

.home__img img {
  width: 155px;
}

.home__title {
  font-size: var(--h1-font-size);
  color: var(--text_secondary);
  font-weight: var(--font-semi-bold);
}
 
.home__profession {
  font-size: var(--small-font-size);
  color: var(--text_secondary);
  margin-bottom: var(--mb-5);
}

.home__social {
  margin-bottom: 5rem;
}

.home__social-link {
  display: inline-flex;
  background-color: var(--white);
  color: var(--button);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.home__social-link:hover {
  background-color: var(--text_secondary);
}

.home__button {
  width: 100%;
  cursor: pointer;
}

.button {
  display: inline-block;
  background-color: var(--button);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--button);
  transform: scale(1.15);
    transition: all 0.4s ease-in-out;
    box-shadow:  20px 20px 60px #fcfcfd,
    
}

.button__light {
  background-color: var(--white);
  color: var(--first-color);
}

.button__light:hover {
  color: var(--white); 
}

/* ABOUT */

.about__container {
  row-gap: 2rem;
}

.about__data {
  text-align: center;
}

.about__description {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.about__information {
  margin-bottom: var(--mb-4);
}

.about__information-title {
  font-size: var(--h3-font-size);
  color: var(--first-color-darken);
  margin-bottom: var(--mb-2);
}

.about__information-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about__information-icon {
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin-right: var(--mb-4);
}

/* SKILLS */

.skills__container {
  row-gap: 2rem;
}

.skills__subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-darken);
  margin-bottom: var(--mb-3);
}

.skills__data {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-4) ;
  padding-left: 1.5rem;
}

.skills__icons {
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin-right: var(--mb-4);
}

.skills__section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skills__body {
  display: flex;
  flex-direction: column;
}

/* EDUCATION */

.education__container {
  row-gap: 2rem;
}

.education__content {
  display: grid;
  grid-template-columns: 0.8fr max-content 1fr;
}

.education__year, .education__race {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.education__university, .education__specialty {
  display: block;
  font-size: var(--smaller-font-size);
}

.education__year, .education__university {
  text-align: right;
}

.education__time {
  padding: 0 1rem;
  justify-self: center;
}

.education__rounder {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color-dark);
  border-radius: 50%;
}

.education__rounder::before {
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color-dark);
  border-radius: 50%;
}

.education__line {
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color-dark);
  transform: translate(5px, -4px);
}

/* PROJECTS */
.works__container {
  justify-content: center;
  row-gap: 2rem;
}

.works__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.works__data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(12,155,160, 0.7);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.works__link {
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-darken);
  color: var(--first-color);
  padding: 0.25rem;
  margin-bottom: var(--mb-2);
}

.works__link:first-child {
  margin-right: 1rem;
}

.works__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-2);
}

.works__img:hover .works__data {
  bottom: 0; 
}

.works__description {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  text-align: center;
}

.underline {
  border-bottom: 2px solid var(--first-color);
}

/* CONTACT */
.contact__container {
  row-gap: 3rem;
}

.contact__input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--first-color-light);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  border-radius: 0.5rem;
}

.contact ::placeholder{
  color: --first-color-darken;
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.contact__button {
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: var(--first-color-darken);
  color: var(--first-color);
  text-align: center;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer__description {
  margin-bottom: var(--mb-2);
}

.footer__social {
  margin-bottom: 3rem;
}

.footer__link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-darken);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.footer__link:hover {
  background-color: var(--first-color-dark);
  color: var(--first-color);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--first-color);
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .works__link, .works__title {
    margin-bottom: var(--mb-2);
  }

  .works__description {
    font-size: var(--small-font-size);
    padding: 0 var(--mb-2);
  }
}

@media screen and (min-width: 768px) {
  .home__button {
    width: initial;
  }

  .nav__menu {
    width: var(--nav-width);
  }

  .about__container,
  .works__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__data {
    text-align: initial;
  }

  .about__description {
    margin-bottom: var(--mb-2);
    font-size: var(--normal-font-size);
  }

  .about__information {
    padding-left: 2rem;
  }

  .skills__section {
    flex-direction: column;
  }

  .skills__body{
    flex-direction: row;
    justify-content: space-between;
  }

  .skills__icons {
    margin-right: var(--mb-1);
  }

  .education__time {
    padding: 0 2rem;
  }

  .works__link, .works__title {
    margin-bottom: var(--mb-1);
  }

  .works__img > img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .works__description {
    font-size: var(--smaller-font-size);
    padding: 0 var(--mb-2);
  }
  
  .contact__inputs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.5rem;
  }

  .footer {
    background: none;
  }

  .footer__container {
    background-color: var(--first-color-darken);
    padding: 3rem 0;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding-left: var(--nav-width);
  }
  
  .l-header {
    width: 0;
  }

  .nav__toggle, .nav__logo, .nav__close {
    display: none;
  }

  .nav__menu {
    left: 0;
  }

  .home__container {
    height: 100vh;
  }

  .section {
    padding: 3rem 0 2rem;
  }

  .bd-grid {
    margin-right: auto;
    margin-left: auto;
  }

  .works__title {
    font-size: var(--h3-font-size);
  }
}



/* FORM VALIDATION */

#error {
  color: red;
}